<!doctype html5>

<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <% @months.each do |month| %>
      <h2 id="<%= month.anchor %>">
        <a href="#<%= month.anchor %>">
          <%= month.strftime "%B %Y" %>
        </a>
      </h2>

      <section class="month" data-weeks="<%= month.weeks.length %>">
        <% month.weeks.each do |week| %>
          <div class="week">
            <% week.days.each do |day| %>
              <div class="day<% if day.today? %> today<% end %><% if day.weekend? %> weekend<% end %><% unless month.include?(day) %> dull<% end %><% if is_checked(day) %> checked<% end %>">
                <div>
                  <h3>
                    <% if month.weeks.first.include? day %><span class="weekday"><%= day.strftime "%a" %></span><% end %>
                    <%= day.strftime "%d" %>
                  </h3>
                  <% if is_checked(day) %><span class="check" style="-webkit-transform: rotate(<%= month.random_angle %>deg)">✘</span><% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </section>
    <% end %>

    <script>
      <%= coffee :script %>
    </script>
  </body>
</html>
